.accordion details:last-of-type {
  border-bottom: 1px solid #dadada;
}

.accordion details p {
  margin-bottom: 0.8em;
}

.accordion details summary {
  position: relative;
  padding: 0;
  padding-right: 46px;
  cursor: pointer;
  list-style: none;
  overflow: auto;
  transition: background-color 0.2s;
  font-size: 20px;
  font-weight: 600;
  border-top: 1px solid #dadada;
}

.accordion details summary::-webkit-details-marker {
  display: none;
}

.accordion details summary::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 18px;
  transform: translateY(-50%) rotate(135deg);
  width: 10px;
  height: 10px;
  border: 2px solid #b10a32;
  border-width: 3px 3px 0 0;
  transition: transform 0.2s;
}

.accordion details[open] summary::after {
  transform: translateY(-50%) rotate(-45deg);
}

.accordion details .accordion-item-body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 280ms ease, opacity 220ms ease;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-transform: none;
  margin: 0;
}

.accordion details .accordion-item-content {
  margin-bottom: 28px;
}

.accordion details[open] .accordion-item-body {
  /* border-top: 1px solid #dadada; */
  background-color: var(--background-color);
  opacity: 1;
}